

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    padding-top: 60px;
    padding-bottom: 40px;
}
/*
.box-container {
    padding: 150px 0;
    overflow: hidden;
}
*/

.box-container.color {
    background-color: #eef9fd
}












